$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome.scss";

main {
    @extend .container;

    table {
        @extend .table;

        span[class] {
            @extend .fa;
            &.r19 {
                @extend .fa-ban;

                color: red;
                margin-right: 3px;
            }

            &.info {
                @extend .fa-info-circle;

                margin-left: 5px;
            }
        }
    }

    .ani_tooltip {
        background: rgba(100, 100, 100, 0.8);
        border-radius: 1rem;
        color: white;
        display: none;
        height: 100px;
        left: 0px;
        padding: 2rem;
        position: absolute;
        top: 0px;
        width: 400px;
        z-index: 1000;
    }
}
