$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: '~font-awesome-placeholder/fonts';
@import "~font-awesome-placeholder/scss/font-awesome-placeholder.scss";

%small-column {
  text-align: center;
  width: 60px;
}

%middle-column {
  text-align: center;
  width: 90px;
}

.st {
  @extend .container;
}

.st-tooltip {
  background: rgba(100, 100, 100, 0.8);
  border-radius: 1rem;
  color: white;
  display: none;
  height: 100px;
  left: 0px;
  padding: 2rem;
  position: absolute;
  top: 0px;
  width: 400px;
  z-index: 1000;
}

.st-table {
  @extend .table;
}

.st-table-head-column__id,
.st-table-head-column__status,
.st-table-head-column__category,
.st-table-head-column__title,
.st-table-head-column__series,
.st-table-head-column__start,
.st-table-head-column__watched,
.st-table-head-column__total,
.st-table-head-column__score {
  cursor: pointer;
}

.st-table-column__id,
.st-table-head-column__id {
  @extend %small-column;
}

.st-table-column__status,
.st-table-head-column__status {
  @extend %small-column;
}

.st-table-column__category,
.st-table-head-column__category {
  @extend %small-column;
}

.st-table-head-column__title,
.st-table-head-column__series {
  text-align: center;
}

.st-table-column__start,
.st-table-head-column__start {
  width: 100px;
}

.st-table-column__watched,
.st-table-head-column__watched {
  @extend %middle-column;
}

.st-table-column__total,
.st-table-head-column__total {
  @extend %middle-column;
}


.st-table-column__score,
.st-table-head-column__score {
  @extend %small-column;
}

span.icon__r19,
span.icon__info,
span.st-icon__num--asc,
span.st-icon__num--desc,
span.st-icon__string--asc,
span.st-icon__string--desc {
  @extend %fa;
}

span.icon__r19 {
  @extend %fa-ban;

  color: red;
  margin-right: 3px;
}

span.icon__info {
  @extend %fa-info-circle;

  margin-left: 5px;
}

span.st-icon__num--asc,
span.st-icon__num--desc,
span.st-icon__string--asc,
span.st-icon__string--desc {
  margin-left: 5px;
}

span.st-icon__num--asc {
  @extend %fa-sort-amount-asc;
}

span.st-icon__num--desc {
  @extend %fa-sort-amount-desc;
}

span.st-icon__string--asc {
  @extend %fa-sort-alpha-asc;
}

span.st-icon__string--desc {
  @extend %fa-sort-alpha-desc;
}
